<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body style="font-family: Arial, sans-serif; background-color: #f9f9f9; padding: 20px;">
    <div style="max-width: 600px; margin: 0 auto; background: black; padding: 30px; border-radius: 8px; border: 1px solid #ddd;">
        <h2 style="color: #4F46E5;">Hello, <span th:text="${username}">User</span>!</h2>

        <p style="color: white">You have changed your profile information successfully!</p>

    </div>
</body>
</html>